@model PagedList.IPagedList<MVC.Models.NguHanh>
@using PagedList.Mvc;
@{
    ViewBag.Title = "QuanLyDuLieuNguHanh";
    Layout = "~/Areas/Admin/Views/Shared/_layout.cshtml";

}
<div id="page-wrapper">
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    DỮ LIỆU NGŨ HÀNH
                </h1>
                <ol class="breadcrumb">
                    <li>
                        <i class="fa fa-fw fa-desktop"></i>  <a href="index.html">Trang Quản Lý</a>
                    </li>
                    <li class="active">
                        <i class="fa fa-fw fa-edit"></i> Dữ Liệu Ngũ Hành
                    </li>
                </ol>
            </div>
        </div>

        <div id="page-wrapper">
            <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>
                                THÊM MỚI DỮ LIỆU NGŨ HÀNH
                            </h4>
                            <form role="form" action="~/Admin/QuanLyDuLieuNguHanh/InsertData" method="post">

                                <div class="form-group">
                                    <label>Năm </label>
                                    <input class="form-control" name="namDL">
                                </div>
                                <div class="form-group">
                                    <label>Năm Âm Lịch</label>
                                    <input class="form-control" name="namAmLich">
                                </div>
                                <div class="form-group">
                                    <label>Giải Nghĩa</label>
                                    <input class="form-control" name="giaiNghia">
                                </div>
                                <div class="form-group">
                                    <label>	Cung Nam</label>
                                    <input class="form-control" name="cungNam">
                                </div>
                                <div class="form-group">
                                    <label>Mệnh Nam</label>
                                    <input class="form-control" name="menhNam">
                                </div>
                                <div class="form-group">
                                    <label>	Cung Nữ</label>
                                    <input class="form-control" name="cungNu">
                                </div>
                                <div class="form-group">
                                    <label>	Mệnh Nữ</label>
                                    <input class="form-control" name="menhNu">
                                </div>
                                <div class="form-group">
                                    <label>	Ngũ Hành Năm Sinh</label>
                                    <input class="form-control" name="nguHanhNamSinh">
                                </div>
                                <div class="form-group">
                                    <label>	Tên Ngũ Hành</label>
                                    <input class="form-control" name="tenNguHanh">
                                </div>
                                <button type="submit" name="btnSubmit" class="btn btn-default">Xác Nhận</button>
                                <button type="reset" class="btn btn-default">Hủy Bỏ</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /#page-wrapper -->

            </div>
        </div>
    </div>
