@model PagedList.IPagedList<MVC.Models.TaiLieu>
@using PagedList.Mvc;
@{
    ViewBag.Title = "XemTaiLieu";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <title>Tử Vi Gia Đạo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Business_Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Assets/Homepage/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href='/Assets/Homepage/fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='/Assets/Homepage/fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/Assets/Homepage/css/style.css" rel='stylesheet' type='text/css' />
    <script src="/Assets/Homepage/js/jquery-1.11.1.min.js"></script>
    <script src="/Assets/Homepage/js/bootstrap.min.js"></script>
</head>
<body>
    <!--start-main-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="logo">
                    <a href="~/Guest/Home/Index"><h1>TỬ VI GIA ĐẠO</h1></a>
                </div>
                <div class="search">
                    <form role="form" action="~/Guest/TaiLieu/Search" method="get">
                        <input type="text" value="Search" name="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="facebook twitter"> </a></li>
                        <li><a href="#" class="facebook chrome"> </a></li>
                        <li><a href="#" class="facebook in"> </a></li>
                        <li><a href="#" class="facebook beh"> </a></li>
                        <li><a href="#" class="facebook vem"> </a></li>
                        <li><a href="#" class="facebook yout"> </a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--head-bottom-->
        <div class="head-bottom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="~/Guest/Home/Index">TRANG CHỦ</a></li>
                        <li><a href="~/Guest/XemPhongThuy/Index">HƯỚNG NHÀ</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TÌNH DUYÊN <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Guest/TinhDuyen/Index">Tình Duyên</a></li>
                                <li><a href="~/Guest/GhepDoiTinhDuyen/Index">Ghép Đôi</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Guest/LichAmDuong/Index">LỊCH ÂM DƯƠNG</a></li>
                        <li class="active"><a href="~/Guest/TaiLieu/Index">TÀI LIỆU PHONG THỦY</a></li>
                        <li><a href="~/Guest/GioiThieu/Index">GIỚI THIỆU</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <!--head-bottom-->
    </div>
    <!-- banner -->

    <div class="technology-1">
        <div class="container">
            @*<div class="col-md-9 technology-left">*@
            <div class="business">
                @foreach (var item in Model)
                {
                    <form action="~/Guest/TaiLieu/Submit" method="get">
                        <div class="rev-1">
                            <div class="rev-img">
                                <center>
                                    <img src=@item.LinkAnh.ToString() class="img-responsive" alt="" style=" width: 430px;height: 340px;">
                                </center>
                            </div>
                            <div class="rev-info">
                                <h3>@item.ChuDe</h3>
                                <p align="justify">@item.TieuDe</p>
                                <button type="submit" class="btn btn-primary" name="btnSubmit" value=@item.MaTaiLieu> Xem tiếp...</button>
                            </div>
                            
                            <div class="clearfix"></div>
                        </div>
                    </form>
                }

            </div>
            <center>@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))</center>@*Luu y duong link*@

        </div>

    </div>
    <div class="copyright">
        <div class="container">
            <p>© 2016 TuViGiaDao. All rights reserved. </p>
        </div>
    </div>

</body>
</html>
