@{
    ViewBag.Title = "FB";
}

<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default2.aspx.cs" Inherits="Default2" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div style=" border 1px solid black; height 350px; width auto">
            <br />
            <center>
                <asp:Button ID="Button1" runat="server" Text="Login with facebook" OnClick="Button1_Click" />
                <br />
                <asp:Label ID="lblEmail" runat="server" Text="Email"></asp:Label>
                <br />
                <asp:Label ID="Label2" runat="server" Text="Friends List:"></asp:Label>
                <br />
                <asp:ListBox ID="ListBox1" style="width: 300px; height: 200px;" runat="server"></asp:ListBox>
                <br />
                <asp:Label ID="lblName" runat="server" Text="Name:"></asp:Label>
                <br />
                <asp:Label ID="lblUserId" runat="server" Text="User Id:"></asp:Label>

            </center>
        </div>
    </form>
</body>
</html>