@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Guest/Views/Shared/_layout.cshtml";

}

@*<meta content="website" property="og:type" />
    <meta content="Tử Vi Phong Thủy" property="og:site_name" />
    <meta content="330468244019948" property="fb:app_id" />

    <meta content="http://tuvigiadao.somee.com/Guest/XemPhongThuy/Index" property="og:url" />
    <meta content="Xem Hướng Nhà Tốt Xấu" property="og:title" />
    <meta content="Tử vi hướng nhà" property="og:description" />
    <meta content="http://www.trainghiemphongthuy.com/images/post/2014/05/12/22//839.jpg" property="og:image" />*@
<meta charset="utf-8">
<title>Tử Vi Gia Đạo</title>
<meta name="og:site_name" content="Blog NewtVision" />
<meta name="fb:app_id" content="330468244019948" />
<meta name="og:type" content="website" />
<meta name="og:url" content="http://www.newtvision.com/blog/" />
<meta name="og:title" content="Blog NewtVision - Easy Web Solutions Consulenze e Applicazioni web TYPO3 Roma" />
<meta name="og:description" content="Il nostro blog raccoglie articoli, suggerimenti, trucchi, consigli, opinioni, eventi su TYPO3, il Design, i Database..." />
<meta name="og:image" content="http://www.newtvision.com/fileadmin/templates/newtvision.com/upload/blog/blog-newtvision.jpg" />
<meta name="og:image:type" content="image/jpeg" />
<meta name="og:image:width" content="1915" />
<meta name="og:image:height" content="441" />


<meta name="description" content="Xem tu vi doan so menh cho moi nguoi">
<meta name="robots" content="index, follow">
<meta name="author" content="Thai Truong">
    <center>
        <div style="background-color: #EEF9FD; padding: 5px;  margin: 5px">
            <img src="/Assets/Homepage/images/phongthuy.jpg">
        </div>
    </center>
  


</body>
</html>
