@{
    ViewBag.Title = "Index";
    Layout = null;
}


<!DOCTYPE html>

<html>

<head>




    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tử Vi Gia Đạo</title>
    <meta name="description" content="Ai giống bạn cả NGOẠI HÌNH và TÍNH CÁCH? Đinh Quang Huy chính là món quà thượng đế dành cho bạn! | Vào Vonvon mỗi khi rảnh rỗi!">
    <meta property="article:publisher" content="https://www.facebook.com/vn.vonvon.me">
    <meta property="article:tag" content="quiz">
    <meta property="article:published_time" content="2017-06-02T16:14:59+00:00">
    <meta property="article:author" content="https://www.facebook.com/vn.vonvon.me">
    <meta property="fb:app_id" content="1567232153295149">
    <meta property="fb:pages" content="448590128625807">
    <meta property="og:site_name" content="vonvon">
    <meta property="og:description" content="Đinh Quang Huy chính là món quà thượng đế dành cho bạn!">
    <meta property="og:title" content="Ai giống bạn cả NGOẠI HÌNH và TÍNH CÁCH?">
    <meta property="og:url" content="http://vn.vonvon.me/quiz/r/2760/17271/v_13761x4eu3y60ybva?_t=1496605035538&amp;utm_viral=9">

    <meta property="og:image" content="http://i.imgur.com/7PDxvLf.jpg">
    <meta property="og:image:height" content="512">
    <meta property="og:type" content="article">
    <meta property="og:image:width" content="512">
    <meta property="og:image:type" content="image/jpeg">


    @*<meta content="Tu Vi Moi Nha" property="og:site_name" />
        <meta content="330468244019948" property="fb:app_id" />
        <meta content="website" property="og:type" />
        <meta content="http://tuvigiadao.somee.com/Guest/XemPhongThuy/Index/" property="og:url" />
        <meta content="Website xem tu vi - doan so menh " property="og:title" />
        <meta content="Xem tu vi doan so menh cho moi nguoi" property="og:description" />
        <meta content="http://www.trainghiemphongthuy.com/images/post/2014/05/12/22//839.jpg" />
        <meta content="image/jpeg" property="og:image:type" />
        <meta content="950" property="og:image:width" />
        <meta content="950" property="og:image:height" />*@


    @*<meta content="website" property="og:type" />
        <meta content="Tử Vi Phong Thủy" property="og:site_name" />
        <meta content="330468244019948" property="fb:app_id" />

        <meta content="http://tuvigiadao.somee.com/Guest/XemPhongThuy/Index" property="og:url" />
        <meta content="Xem Hướng Nhà Tốt Xấu" property="og:title" />
        <meta content="Tử vi hướng nhà" property="og:description" />
        <meta content="http://www.trainghiemphongthuy.com/images/post/2014/05/12/22//839.jpg" property="og:image" />*@



    @*<meta name="description" content="Xem tu vi doan so menh cho moi nguoi">
        <meta name="robots" content="index, follow">
        <meta name="author" content="Thai Truong">*@

    @*<meta property="og:site_name" content="Tử Vi Phong Thủy" />
        <meta property="fb:app_id" content="330468244019948" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://tuvigiadao.somee.com/Guest/XemPhongThuy/Index" />
        <meta property="og:title" content="Xem Hướng Nhà Tốt Xấu" />
        <meta property="og:description" content="Tử vi hướng nhà." />
        <meta property="og:image" content="http://www.trainghiemphongthuy.com/images/post/2014/05/12/22//839.jpg" />*@


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Business_Blog Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="applijewelleryion/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="/Assets/Homepage/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <link href="~/Assets/Homepage/css/bootstrap-social.css" rel="stylesheet" />
    <link href='/Assets/Homepage/fonts.googleapis.com/css?family=Roboto+Condensed:400,700' rel='stylesheet' type='text/css'>
    <link href='/Assets/Homepage/fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="/Assets/Homepage/css/style.css" rel='stylesheet' type='text/css' />
    <script src="/Assets/Homepage/js/jquery-1.11.1.min.js"></script>
    <script src="/Assets/Homepage/js/bootstrap.min.js"></script>


</head>
<body>
    <!--start-main-->
    <div class="header">
        <div class="header-top">
            <div class="container">
                <div class="logo">
                    <a href="~/Guest/Home/Index"><h1>TỬ VI GIA ĐẠO</h1></a>
                </div>
                <div class="search">
                    <form role="form" action="~/Guest/TaiLieu/Search" method="get">
                        <input type="text" value="Search" name="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
                        <input type="submit" value="">
                    </form>
                </div>
                <div class="social">
                    <ul>
                        <li><a href="#" class="facebook"> </a></li>
                        <li><a href="#" class="facebook twitter"> </a></li>
                        <li><a href="#" class="facebook chrome"> </a></li>
                        <li><a href="#" class="facebook in"> </a></li>
                        <li><a href="#" class="facebook beh"> </a></li>
                        <li><a href="#" class="facebook vem"> </a></li>
                        <li><a href="#" class="facebook yout"> </a></li>
                    </ul>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <!--head-bottom-->
        <div class="head-bottom">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="~/Guest/Home/Index">TRANG CHỦ</a></li>
                        <li class="active"><a href="~/Guest/XemPhongThuy/Index">HƯỚNG NHÀ</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">TÌNH DUYÊN <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="~/Guest/TinhDuyen/Index">Tình Duyên</a></li>
                                <li><a href="~/Guest/GhepDoiTinhDuyen/Index">Ghép Đôi</a></li>
                            </ul>
                        </li>
                        <li><a href="~/Guest/LichAmDuong/Index">LỊCH ÂM DƯƠNG</a></li>
                        <li><a href="~/Guest/TaiLieu/Index">TÀI LIỆU PHONG THỦY</a></li>
                        <li><a href="~/Guest/GioiThieu/Index">GIỚI THIỆU</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>
        <!--head-bottom-->
    </div>
    <!-- banner -->
    <div class="technology-1">
        <div class="container">
            <div class="business">
                <div id="contact" class="contact">
                    <h3>HƯỚNG NHÀ</h3>
                    --
                    Theo phong thủy, khi tiến hành xây nhà gia chủ cần phải chú ý xem tuổi và
                    chọn hướng làm nhà bởi nó ảnh hưởng rất nhiều đến cuộc sống của gia đình mình.
                    Vì thế dân gian ta mới có câu: <b>“Lấy vợ hiền hòa, xây nhà hướng Nam”</b> như một đúc kết kinh nghiệm cuộc sống.
                    Hãy xem phong thủy hướng làm nhà tốt để bạn tiến hành xây nhà.
                    <br /><br />
                    <b>Hướng dẫn xem bói hướng nhà theo tuổi của bạn:</b><br />
                    - Chọn ngày, tháng, năm sinh của bạn (Dương lịch).<br />
                    - Chọn giới tính của bạn.<br />
                    - Nhấn <b>Xem Kết Quả</b>  để xem hướng nhà tốt theo tuổi của bạn.<br />
                    - Hoặc chọn <b>Đăng Nhập Bằng Facebook</b> để lấy thông tin từ <b>Facebook</b>.
                    <center>

                        <form action="~/Guest/XemPhongThuy/submit" method="get">
                            <label>Chọn tuổi bạn  </label>
                            <input type="date" name="bday" id="bday" value="date"> @*Ngày được chọn*@
                            <input type="radio" name="gender" id="gender" value="Nam" checked> Nam
                            <input type="radio" name="gender" value="Nữ"> Nữ<br><br>


                            <b>  <input class="input btn btn-primary" type="button" onclick="clic(this)" value="Xem Kết Quả"> </b> <br><br />


                            <center><b>----------- hoặc-----------</b></center>
                            <center hidden id="bt-fblogin">
                                <a class="btn btn-facebook" href="/Guest/XemPhongThuy/GetByFB">
                                    <i class="fa fa-facebook"></i>
                                    Đăng nhập bằng Facebook
                                </a>
                            </center>

                        </form>
                    </center>
                    <center>
                        @*<div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="true" data-auto-logout-link="false" data-use-continue-as="true"></div>*@

                        <div class="fb-login-button" data-max-rows="2" data-size="large" data-button-type="continue_with"
                             data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="true"
                             data-width="900"
                             data-
                             scope="email,user_birthday,public_profile"
                             show_faces="false"
                             onlogin="testAPI()
                             ">

                        </div>

                    </center>
                    <div id="status"></div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>© 2016 TuViGiaDao. All rights reserved. </p>
        </div>
    </div>
    <script>

        // This is called with the results from from FB.getLoginStatus().
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                // testAPI();
            } else {
                // The person is not logged into your app or we are unable to tell.
                document.getElementById('status').innerHTML = 'Please log ' +
                  'into this app.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        }

        window.fbAsyncInit = function () {
            FB.init({
                appId: '1567232153295149',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });

            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.



        };



        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1567232153295149";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // Here we run a very simple test of the Graph API after login is
        // successful.  See statusChangeCallback() for when this call is made.
        function testAPI() {
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
            var genstr = "N%E1%BB%AF";
            var datestr = "";

            FB.api('me?fields=id,name,birthday,gender', function (response) {

                // convert DoB format
                datestr = response.birthday.replace(/(\d\d)\/(\d\d)\/(\d{4})/, "$3-$1-$2");
                if (response.gender = "male") genstr = "Nam";



                window.location.href = "/Guest/XemPhongThuy/submit?bday=" + datestr + "&gender=" + genstr;

            });





        }



        /////
        function redirect(g, d) {
            window.location.href = "/Guest/XemPhongThuy/submit?bday=" + g + "&gender=" + d;
        }

        function clic(element) {
            var e = document.getElementById("bday");
            var e2 = document.getElementById("gender");
            var datestr = e.value;
            var genstr = "N%E1%BB%AF";
            if (document.getElementById("gender").checked) genstr = "Nam";
            if (!datestr)
                alert("Nhập Ngày Sinh Hợp Lệ !");
            else {
                window.location.href = "/Guest/XemPhongThuy/submit?bday=" + datestr + "&gender=" + genstr;

            }

        }


    </script>
</body>
</html>

